.our_partners-image{
  margin-left: 10%;
  max-width: 80%;
}
.our_partners-title{
  display: flex;
  margin-top:50px;
}
.our_partners-title div{
  margin:auto;
  font-size: 20px;
}
.comb-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top:100px;
  /*padding-left: 10%;*/
}
.comb-container *{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  line-height: 0;
}
.comb-double{
  display: flex;
  flex-wrap: nowrap;
}
.comb-block{
  /*border:1px solid green;*/
  position: relative;
  width: 235px;
  height: 390px;
}
.comb-tab_left,
.comb-tab_right{
  display: block;
  cursor: pointer;
  top:0px;
  position: absolute;
  color:transparent;
  height: 130px;
  width: 235px;
  border:2px solid rgb(60,80,100);
  border-top:none;
  border-bottom: none;
  z-index: 1;
}

.comb-tab_right{
  left: 117px;
  top: 195px;
}
.comb-tab_left:hover .comb-tab_border-1,
.comb-tab_left:hover .comb-tab_border-2,
.comb-tab_right:hover .comb-tab_border-1,
.comb-tab_right:hover .comb-tab_border-2{
  background-color: rgb(60,80,105);
}
.comb-tab_border-1,
.comb-tab_border-2{
  border:2px solid rgb(60,80,100);
  border-left: none;
  border-right: none;
  position: absolute;
  height: 230px;
  width: 135px;
  left: 48px;
  top:-50px;
  transform:rotate(30deg);
}
.comb-tab_border-2{
  transform:rotate(-30deg);
}
.comb-tab_content{
  top:0px;
  left: 0px;
  position: absolute;
  height: 128px;
  width: 231px;
  background-color: white;
}
.comb-tab_content-overlay{
  top:0px;
  left: 0px;
  position: absolute;
  height: 128px;
  width: 231px;
  /*background-image: url(../img/foraft-1.jpg);*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.comb-tab_content-text{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
}
.comb-tab_content-text div{
  margin:auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  padding: 10px;
  text-align: center;
  line-height: 1.2em;
}
.comb-tab_content-top{
  position: absolute;
  top:0;
  left: 0;
  background-color: #1E354EDB;
  height: 0%;
  width: 233px;
}
.comb-tab_content-bottom{
  position: absolute;
  bottom:0;
  left: 0;
  background-color: #1E354EDB;
  height: 0%;
  width: 233px;
}
.comb-tab_right:hover .comb-tab_content-top,
.comb-tab_right:hover .comb-tab_content-bottom,
.comb-tab_left:hover .comb-tab_content-top,
.comb-tab_left:hover .comb-tab_content-bottom{
  transition-duration: 0.5s;
  height: 50%;
}
.comb-tab_right:hover .comb-tab_content,
.comb-tab_left:hover .comb-tab_content{
  color: white;
}
#invisible-node,
#image-node{
  display: none;
}